body.page-node-type-landingpage {
    --font-1: "Public Sans";
    --font-2: "Public Sans Bold";
    --font-3: "Public Sans 900";
    --font-4: "Public Sans 900";
    --color-1: #032d67;
    --color-2: #00a7e7;
    --color-3: #ffe000;
}